.cardMovies {
  list-style: none;
  font-size: 0.8rem;
}
.movieImage {
  border-radius: 10px;
  background-color: azure;
  column-gap: 4px;
}

.cardMovies:hover {
  opacity: 0.9;
}

@media (max-width: 560px) {
  .movieImage {
    width: 85%;
    height: auto;
  }
}
